@font-face {
  font-family: NorseBold;
  src: url(./fonts/Norse-Bold.otf);
}

* {
  /*Box model stuff*/
  margin: 0;
  padding: 0;
  /*Miscellaneous*/
  box-sizing: border-box;
}

.hero {
  /*Box model stuff*/
  padding-bottom: 15px;
  background-image: url(./images/halie-west-25xggax4bSA-unsplash.jpg);
  background-size: cover;
  /*Typography stuff*/
  color: white;
}

h1 {
  /*Typography stuff*/
  font-family: "NorseBold";
  font-size: 6rem;
  /*Miscellaneous*/
  line-height: 20px;
}

body {
  /*Display stuff*/
  display: flex;
  /*Box model stuff*/
  min-height: 100vh;
  /*Miscellaneous*/
  overflow-x: hidden;
}

.hero {
  /*Display stuff*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /*Box model stuff*/
  width: 35%;
  /*Typography stuff*/
  text-align: center;
}

.logo {
  /*Display stuff*/
  display: flex;
  align-items: center;
  justify-content: center;
  /*Box model stuff*/
  margin-top: 180px;
  background-color: rgba(0, 0, 0, 0.466);
}

.logo img {
  height: 110px;
}

.arrow {
  /*Box model stuff*/
  width: 25px;
  height: 25px;
  border-bottom: 3px solid #fafaf9;
  border-left: 3px solid #fafaf9;
  border-radius: 5px;
  /*Manipulations stuff*/
  transform: rotate(-45deg);
}

.arrow2 {
  /*Box model stuff*/
  width: 30px;
  height: 30px;
  margin-left: -3px;
  margin-top: -20px;
}

.arrow-container {
  /*Display stuff*/
  display: none;
  align-self: center;
  /*Positioning stuff*/
  position: absolute;
  bottom: 50px;
  /*Manipulations stuff*/
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

.credit {
  /*Positioning stuff*/
  position: relative;
  /*Typography stuff*/
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.808);
}

.credit a {
  color: rgba(255, 255, 255, 0.808);
}

.main {
  /*Display stuff*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*Box model stuff*/
  width: 65%;
  background-color: #fafaf9;
  /*Typography stuff*/
  font-family: Arial, Helvetica, sans-serif;
  /*Miscellaneous*/
  gap: 25px;
}

.header {
  /*Box model stuff*/
  max-width: 700px;
  padding: 40px;
  /*Typography stuff*/
  font-size: 1.4rem;
  font-weight: 600;
}

.header p {
  margin-top: 25px;
}

form {
  /*Display stuff*/
  display: flex;
  flex-direction: column;
  /*Box model stuff*/
  padding: 40px;
  background-color: white;
  /*Miscellaneous*/
  box-shadow: 9px 2px 5px 1px rgba(0, 0, 0, 0.164);
}

.form-body {
  /*Display stuff*/
  display: grid;
  grid-template-columns: 200px 200px;
  /*Box model stuff*/
  margin-top: 20px;
  /*Miscellaneous*/
  gap: 30px 150px;
}

form div {
  display: flex;
  flex-direction: column;
}

label {
  /*Typography stuff*/
  font-size: 0.7rem;
  font-weight: 600;
  text-transform: uppercase;
  color: rgb(88, 88, 88);
  /*Miscellaneous*/
  letter-spacing: 1.8px;
}

input {
  /*Box model stuff*/
  width: 280px;
  height: 35px;
  padding: 5px;
  border: 0.5px solid rgb(228, 227, 227);
  border-radius: 6px;
  /*Typography stuff*/
  font-size: 1rem;
}

.error-message {
  /*Display stuff*/
  display: none;
  /*Box model stuff*/
  width: 280px;
  /*Typography stuff*/
  font-size: 14px;
  color: red;
}

input:not(:focus):not(:placeholder-shown):invalid {
  border-color: red;
}

#email:not(:focus):not(:placeholder-shown):invalid ~ .bad-email {
  display: block;
}

#phone:not(:focus):not(:placeholder-shown):invalid ~ .bad-phone {
  display: block;
}

.bad-password {
  display: block;
}

.password-invalid {
  border-color: red;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:focus {
  /*Box model stuff*/
  border: 1.5px solid rgb(0, 0, 255);
  outline: none;
  /*Miscellaneous*/
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.24);
}

button {
  /*Box model stuff*/
  width: 180px;
  margin-left: 40px;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: #698d49;
  /*Typography stuff*/
  font-size: 1rem;
  font-weight: 600;
  color: white;
}

.login {
  margin-left: 40px;
}

.login a {
  /*Typography stuff*/
  font-weight: 600;
  text-decoration: none;
  color: #698d49;
}

.footer {
  /*Display stuff*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*Miscellaneous*/
  gap: 10px;
}

.footer2 {
  margin-left: 40px;
}

.footer2 a {
  /*Display stuff*/
  display: inline-block;
  /*Box model stuff*/
  margin-left: 10px;
  /*Typography stuff*/
  text-decoration: none;
  color: black;
}

.footer2 a:hover {
  /*Typography stuff*/
  text-decoration: underline;
  color: #698d49;
  /*Manipulations stuff*/
  transform: scale(1.1);
  transition: 0.2s ease-in-out;
}

@media (max-width: 1000px) {
  body {
    display: flex;
    flex-direction: column;
  }

  .hero {
    min-height: 100vh;
    width: 100%;
  }

  .arrow-container {
    display: block;
  }

  .main {
    box-sizing: border-box;
    min-width: 100vw;
    height: 100%;
    padding-bottom: 40px;
    align-items: center;
  }

  form {
    align-items: center;
  }

  .form-body {
    display: flex;
    align-items: center;
    width: 100vw;
  }

  .header {
    text-align: center;
  }

  .login,
  button {
    margin: 0;
  }

  .footer {
    align-items: center;
  }

  .footer2 {
    margin: 0;
  }
}
